.bg-temp1 {
    background-color: #141714;
}
.bg-temp1-1 {
    background-color: #131313;
}

.bg-horizontal-lines {
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0.3;
    background-size: 150px 180px;
    background-image: repeating-linear-gradient(0deg, #45e273, #45e273 1px, transparent 1px, transparent);
}

.greenLight {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate(-28%, -50%) rotate(-20deg);
    z-index: 3;
}

.greenLight::before {
    content: "";
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: conic-gradient(from 180deg at 50% 0, #00ff4c 0deg, hsla(141, 100%, 50%, .9) 2deg, hsla(141, 100%, 50%, .6) 6deg, hsla(141, 100%, 50%, .4) 10deg, hsla(141, 100%, 50%, .1) 15deg, hsla(141, 100%, 50%, 0) 20deg, hsla(141, 100%, 50%, 0) 340deg, hsla(141, 100%, 50%, .1) 345deg, hsla(141, 100%, 50%, .4) 350deg, hsla(141, 100%, 50%, .6) 354deg, hsla(141, 100%, 50%, .9) 358deg, #00ff4c 1turn);
}

.circle-transparent {
    position: absolute;
    height: 85%;
    width: 40%;
    border-radius: 50%;
    background-color: #141714;
    opacity: 1;
    filter: blur(120px);
    z-index: 1;
}

.gradient-Text  *{
    background: linear-gradient(to bottom, #ffffff 60%, #00ff4c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-Text-radial * {
    background: radial-gradient(circle, #ffffff 20%, #00ff4c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.neon {
    text-shadow: 0 0 10px rgba(247, 251, 248, .7);
}

.badgeTemp {
    display: flex;
    align-items: center;
    background-color: #3d3d3d;
    color: #dcdcdc;
    border-radius: 50rem;
    padding: 0.3rem 1rem;
}

.badgeTemp i {
    margin-right: 0.3rem;
    color: #00ff4c;
}
.badgeTemp img {
    margin-right: 0.3rem;
    width: 30px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    aspect-ratio: 1/1 !important;
    object-fit: cover !important;
}

.badgeTempnoBg {
    display: flex;
    align-items: center;
    color: #dcdcdc;
    border-radius: 50rem;
    padding: 0.3rem 1rem;
    font-weight: 500;
    margin: 0;
}

.badgeTempnoBg .title,
.badgeTempnoBg i {
    color: #00ff4c;
    margin-right: 0.3rem;
}

.badgeTemp p,
.badgeTempnoBg p {
    margin: 0;
}

.w-xl-60 {
    width: 60%;
}

.btn-exploreWhiGreen {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 12px;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-weight: 500;
    height: 3rem;
    transition: width 0.3s ease;
}

.btn-exploreWhiGreen p {
    margin: 0;
    font-family: 'Colverica', sans-serif;
    padding-right: 3rem;
}

.btn-exploreWhiGreen .icon {
    margin-left: 0.5rem;
    color: #000;
    background-color: #00ff4c;
    border-radius: 12px;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease;
    position: absolute;
    right: 4px;
    display: inline-flex;
}


.btn-exploreWhiGreen:hover .icon {
    width: calc(100% - 8px);
}

.btn-outline-white {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    height: 3rem;
    font-family: 'Colverica', sans-serif;
    transition: all 0.3s ease;
}

.btn-outline-white:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.circle-green {
    position: absolute;
    height: 200px;
    width: 300px;
    border-radius: 50%;
    background-color: #00ff4c;
    opacity: 0.5;
    filter: blur(120px);
    z-index: 1;
}

.circle-yellow {
    position: absolute;
    height: 200px;
    width: 300px;
    border-radius: 50%;
    background-color: #d0ff00;
    opacity: 0.5;
    filter: blur(120px);
    z-index: 1;
}



@media (max-width: 600px) {
    .w-xl-60 {}
}

/* Estilos para tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
    .w-xl-60 {}
}

.text-green {
    color: #00ff4c;
}

.inset{
    inset: 0;
}




.spinner2 {
    width: 180px;
    height: 180px;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) rotateX(-25deg) rotateY(25deg)
}

.spinner2>div {
    background-color: #bbff0015;
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2.2px solid #00ff4c;
}

.spinner2 div:nth-of-type(1) {
    transform: translateZ(-90.4px) rotateY(180deg);
}

.spinner2 div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner2 div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner2 div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner2 div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner2 div:nth-of-type(6) {
    transform: translateZ(90.4px);
}

