.container-horizontal-scroller-flexvu{
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: auto;
}

.content-horizontal-scroller-flexvu{
    display: flex;
    height: 100%;
    cursor: grab;
}

.section-horizontal-scroller-flexvu{
    /* flex: 0 0 100vw; */
    height: 100%;
}

.section-horizontal-scroller-flexvu img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position:left; 
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1; 
    filter: blur(0);
    transition: none; 
    cursor: pointer;
}

.overlay-content {
    text-align: center;
}

.overlay-content p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.overlay-content .icon {
    font-size: 2rem;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}