.img-comp-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    background-color: transparent;
}

.img-comp-base {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.img-comp-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, rgba(32, 156, 216, 1) 0%, rgba(116, 58, 239, 1) 19%, rgba(197, 35, 143, 1) 39%, rgba(211, 1, 74, 1) 66%, rgba(237, 133, 11, 1) 84%, rgba(253, 188, 4, 1) 100%);
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    transition: background 0.2s;
}

.img-comp-slider i {
    color: #fff;
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}
