.horizontal-scroller-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: auto;
    touch-action: none;
}

.horizontal-scroller-content {
    display: flex;
    height: 100%;
    cursor: grab;
}

.horizontal-scroller-section {
    flex-shrink: 0;
    height: 100%;
    /* Se elimina 'width: 100vw' para que la sección se ajuste al contenido */
    display: flex;       /* Ayuda a centrar la imagen verticalmente */
    align-items: center;
}

.horizontal-scroller-section img {
    height: 100%; /* La imagen siempre ocupará el 100% del alto */
    width: auto;  /* El ancho se ajustará automáticamente para mantener la proporción */
    /* Ya no necesitamos object-fit ni object-position con esta configuración */
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1; 
    filter: blur(0);
    transition: none; 
    cursor: pointer;
}

.overlay-content {
    text-align: center;
}

.overlay-content p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.overlay-content .icon {
    font-size: 2rem;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}