:root {
    --color-principalCalendar: #D71820;
    --color-secundarioCalendar: #6D6E71;
}

body {
    background-color: #f8f9fa;
}

.calendar-container {
    /* height: 800px;
    width: 600px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: white;
}

.calendar-body {
    flex-grow: 1;
    overflow-y: auto;
}