/* src/components/PastEventModal.css */

.past-event-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.past-event-modal-content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
    border-radius: 8px;
    max-width: 320px;
    width: 90%;
    text-align: left; /* Alineamos el texto a la izquierda para más consistencia */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.past-event-modal-header {
    padding: 16px;
    border-bottom: 1px solid #eee;
}

.past-event-modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    color: #222;
}

.past-event-modal-body {
    padding: 16px;
}

.past-event-modal-body p {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.past-event-modal-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #eee;
}

.past-event-modal-button {
    background: #6D6E71;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    color: #fff; 
    width: 100%;
    text-align: center; 
    transition: background-color 0.2s ease;
}

.past-event-modal-button:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.past-event-modal-button.primary {
    font-weight: 600;
}

.past-event-modal-button:hover {
    background-color: #D71820;
}