

.cardGradientBorder {
    position: absolute;
    inset: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: 5px solid transparent;
    border-radius: 12px;
    background-clip: padding-box;
}

[data-pick-step].active::before{
    content: "[";
}

[data-pick-step].active::after {
    content: "]";
}

